<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/ExpantaNum.js"></script>
    <script src="js/saves.js"></script>
    <script src="js/main.js"></script>
    <script src="js/v.js"></script>
    <title>Incremental Merge</title>
</head>
<body onload="loadGame()">
    <div id="app">
        Your number is <h2>{{ notate(player.number,0) }}</h2><br>
        Number is getting <h2>{{ notate(FORMULA.dt_merges(),0) }}</h2>/s<br><br>
        <div class="table_center">
            <div v-for='s in TABS'>
                <button class="tabbox" v-on:click='changeTab(s)' v-bind:class="{energy: s == 'Energy', sacrifice: s == 'Sacrifice'}" v-if="TABS_UNL[s]()">{{ s }}</button>
            </div>
        </div><br><div>
            <div id='Merges'>
                <div style="border: solid 3px white; border-radius: 25px; padding: 10px;">
                    <button onclick="mergeAll()">MERGE</button>
                    ({{ FORMULA.merges_have() }} / 20) Merger will added on {{ notate(FORMULA.times(), 1) }}s<br><br>
                    <div v-bind:class="{mergebox: true}" v-for='merge in player.merges' v-if='merge > 0'>
                        <br><br><h2 style="font-size: 35px;">[{{ merge }}]</h2>
                        <br><br>+{{ notate(FORMULA.merge_effect(merge),0) }}
                    </div>
                </div><br><div class="table_center">
                    <div v-for='upg in UPGRADE.merges'>
                        <button class="upg" v-on:click='upg.buy()' v-bind:class='{closed: player.number.lt(upg.cost())}'>{{ upg.desc }} [{{ upg.level() }}]<br>Cost: {{ notate(upg.cost(),0) }}<br><span v-if='upg.cur'>Effect: {{ upg.curDesc(upg.cur()) }}</span></button>
                    </div>
                </div>
            </div><div id="Prestige" style="display: none;">
                You have <h2>{{ notate(player.prestige.points,0) }} [{{ notate(player.prestige.stats,0) }}]</h2> Prestige points, which multiples merges production by {{ notate(FORMULA.prestige_effect()) }}
                <br><br><button onclick="resetPrestige()" v-bind:class='{closed: FORMULA.prestige_gain().lt(100)}'>Reset your merges and numbers, you gain {{ notate(FORMULA.prestige_gain(),0) }} Prestige points</button>
                <br><br><div v-for='c in UPGRADE.prestige.col' class="table_center">
                    <div v-for='r in UPGRADE.prestige.row'>
                        <button class="upg prestige" v-on:click='buyUPG("prestige",c*10+r)' v-if='UPGRADE.prestige[c*10+r].unl()' v-bind:class='{closed: player.prestige.points.lt(UPGRADE.prestige[c*10+r].cost()) & !player.prestige.upgs.includes(c*10+r), bought: player.prestige.upgs.includes(c*10+r)}'>{{ UPGRADE.prestige[c*10+r].desc }}<br>Cost: {{ notate(UPGRADE.prestige[c*10+r].cost(),0) }}<br><span v-if='UPGRADE.prestige[c*10+r].cur'>Currently: {{ UPGRADE.prestige[c*10+r].curDesc(UPGRADE.prestige[c*10+r].cur()) }}</span></button>
                    </div>
                </div>
            </div><div id="Energy" style="display: none;">
                You have <h2>{{ notate(player.energy.points,0) }} [{{ notate(player.energy.stats,0) }}]</h2> Energy Points, which multiples merges production by {{ notate(FORMULA.energy_effect()) }}
                <br><br><div v-for='c in UPGRADE.energy.col' class="table_center">
                    <div v-for='r in UPGRADE.energy.row'>
                        <button class="upg prestige" v-on:click='buyUPG("energy",c*10+r)' v-if='UPGRADE.energy[c*10+r].unl()' v-bind:class='{closed: player.energy.points.lt(UPGRADE.energy[c*10+r].cost()) & !player.energy.upgs.includes(c*10+r), bought: player.energy.upgs.includes(c*10+r)}'>{{ UPGRADE.energy[c*10+r].desc }}<br>Cost: {{ notate(UPGRADE.energy[c*10+r].cost(),0) }}<br><span v-if='UPGRADE.energy[c*10+r].cur'>Currently: {{ UPGRADE.energy[c*10+r].curDesc(UPGRADE.energy[c*10+r].cur()) }}</span></button>
                    </div>
                </div>
            </div><div id="Sacrifice" style="display: none;">
                Reset your Numbers & Merges, if you Sacrificed only over 20 Sacrifice points to reset.<br>
                <button onclick="resetSacrifice()" class="sacrifice">Sacrifice your Prestige & Energy<br>for {{ notate(FORMULA.sacr_gain()) }} Sacrifice points</button>
                <br>You have <h2>{{ notate(player.sacrifice.points) }} [{{ notate(player.sacrifice.stats) }}]</h2> Sacrifice points, which generates {{ notate(FORMULA.sacr_effect()) }} Particles/s.
                <br><br><div class="table_center">
                    <div v-for='p in particles.length' class="particles" v-bind:class='{[particles[p-1]]: true}'>
                        You have<br><h2>{{ notate(player.sacrifice.particles[particles[p-1]]) }}</h2>
                        <br>{{ large_particles[p-1] }} particles
                        <br><br>Which boosts {{ large_particles[p-3*Math.floor(p/3)] }} gain by<br><h2>{{ notate(FORMULA.particles_eff[particles[p-1]+'_gain']()) }}</h2>x
                        <br><br>And boosts {{ ["Energy gain","Prestige gain","Merge level"][p-1] }} by<br><h2>{{ notate(FORMULA.particles_eff[particles[p-1]+'_effect']()) }}</h2>{{ ["x","x","+"][p-1] }}
                    </div>
                </div><br><div v-for='c in UPGRADE.sacrifice.col' class="table_center">
                    <div v-for='r in UPGRADE.sacrifice.row'>
                        <button class="upg prestige" v-on:click='buyUPG("sacrifice",c*10+r)' v-if='UPGRADE.sacrifice[c*10+r].unl()' v-bind:class='{closed: player.sacrifice.points.lt(UPGRADE.sacrifice[c*10+r].cost()) & !player.sacrifice.upgs.includes(c*10+r), bought: player.sacrifice.upgs.includes(c*10+r)}'>{{ UPGRADE.sacrifice[c*10+r].desc }}<br>Cost: {{ notate(UPGRADE.sacrifice[c*10+r].cost(),0) }}<br><span v-if='UPGRADE.sacrifice[c*10+r].cur'>Currently: {{ UPGRADE.sacrifice[c*10+r].curDesc(UPGRADE.sacrifice[c*10+r].cur()) }}</span></button>
                    </div>
                </div>
            </div><div id="Achievements" style="display: none;">
                <div class="table_center">
                    <div v-for='t in ACHIEVEMENTS.effs'><button class="achi">[{{ t.best() }}] - {{ t.desc }}<br>Currently: {{ t.curDesc(t.cur()) }}</button></div>
                </div>
            </div><div id="Options" style="display: none;">
                <button onclick="save()">Save</button>
                <button onclick="if (confirm('You wanted to RESET your progress to new game?')) {wipe(); location.reload()}">WIPE</button>
            </div>
        </div>
    </div>
</body>
</html>