* {
    font-family: "Lucida Console", "Courier New", monospace;
    table-align: center;
    text-align: center;
}

body {
    color: white;
    text-shadow: 0px 0px 7px white;
    background-color: black;
    overflow-x: hidden;
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
    border: solid 3px black;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    animation-duration: 0.5s;
}

.mergebox {
    display: inline-block;
    text-align: center;
    width: 125px;
    height: 125px;
    border: solid 3px white;
    border-radius: 25%;
    font-size: 15px;
}

.mergebox.atombox {
    border: solid 3px black;
    color: black;
    background-color: white;
}

.tabbox {
    height: 50px;
    font-size: 30px;
}

.tabbox.energy {
    background-color: skyblue;
}

.sacrifice {
    color: white;
    background: repeating-radial-gradient(
		circle farthest-corner at center center,
		magenta 0%,
		purple 15%,
		magenta 30%
	);
    animation: BackgroundGradientSacrifice1 6s ease infinite;
}

.preons {
    color: white;
    background: linear-gradient(90deg, rgba(0,7,143,1) 0%, rgba(43,43,43,1) 50%, rgba(255,0,0,1) 100%);
}

@keyframes BackgroundGradientSacrifice1 {
    0% {
		background-size: 100% 100%;
	}
	50% {
        background-size: 200% 100%;
        background-position-x: 50%;
	}
	100% {
		background-size: 100% 100%;
	}
}

.upg {
    width: 200px;
    height: 125px;
}

.upg.prestige {
    width: 125px;
    font-size: 10px;
}

.particles {
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 3px;
    padding: 3px;
    animation: BackgroundGradientSacrifice1 6s ease infinite;
}

.particles.p {
    background: repeating-radial-gradient(
		circle farthest-corner at center center,
		#00BFFF 0%,
		#1E90FF 15%,
		#00BFFF 30%
	);
}

.particles.n {
    background: repeating-radial-gradient(
		circle farthest-corner at center center,
		#F08080 0%,
		#CD5C5C 15%,
		#F08080 30%
	);
}

.particles.e {
    background: repeating-radial-gradient(
		circle farthest-corner at center center,
		#90EE90 0%,
		#32CD32 15%,
		#90EE90 30%
	);
}

h1, h2 {
    display: inline;
    font-size: 25px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.achi {
    width: 300px;
    height: 150px;
}

.challenge {
    color: black;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15%;
    margin: 3px;
    padding: 3px;
}

.chal_button {
    width: 100px;
    height: 30px;
}

.closed {
    background-color: red;
}

.bought {
    background-color: lime;
}

.atoms {
    color: red;
    border-color: red;
    background-color: black;
    animation: BackgroundGradientSacrifice2 3s ease infinite;
}

@keyframes BackgroundGradientSacrifice2 {
    0% {
		background-color: black;
	}
	50% {
        background-color: rgb(71, 0, 0);
	}
	100% {
		background-color: black;
	}
}

.atombox.red,
.atom_dusts.red {
    color: white;
    background-color: red;
}

.atombox.ora,
.atom_dusts.ora {
    background-color: orange;
}

.atombox.yel,
.atom_dusts.yel {
    background-color: yellow;
}

.atombox.gre,
.atom_dusts.gre {
    background-color: green;
}

.atombox.blu,
.atom_dusts.blu {
    color: white;
    background-color: blue;
}

.atombox.pur,
.atom_dusts.pur {
    color: white;
    background-color: purple;
}

.atombox.whi,
.atom_dusts.whi {
    background-color: white;
}

.atombox.bla,
.atom_dusts.bla {
    color: white;
    background-color: black;
    border-color: white;
}

.atom_dusts {
    border: solid 3px black;
    color: black;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 15%;
    margin: 3px;
    padding: 3px;
}

.milestones {
    width: 300px;
    height: 75px;
    border: solid 3px red;
    margin: 3px;
    padding: 3px;
}

.milestones.reached {
    border-color: green;
}

.uranium {
    background-color: darkgreen;
    border-radius: 20px;
    padding: 10px;
}

[tooltip] {
	position: relative;
	z-index: 2;
	white-space: pre-wrap;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}
